streamlit==1.31.0
numpy>=1.26.0
pandas>=2.0.3
opencv-contrib-python-headless>=4.8.0  # Use headless version with contrib modules
torch>=2.1.1 --extra-index-url https://download.pytorch.org/whl/cpu
matplotlib>=3.7.3
pillow>=10.1.0
ultralytics>=8.0.196  # Note: This also depends on OpenCV
wfdb>=4.1.2